.actions-box{
    margin: 3px;
}

.actions-box Button{
    margin: 3px;
}

#waitdiv {
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 15;
  top: 40%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: #fff;
  box-shadow: 10px 10px 5px #ccc;
  border: 1px solid #ccc;
  text-align: center;
  display:none;
}

.connections-panel {
  height:400px;
}

#canvas, #canvas1 {
  height:655px;
  width:1200px;
}

.conformedPanel {
  background-color : #eee;
  height:400px;
  padding : 10px;
}

#accordion .ui-accordion-content { 
  padding: 0; 
  min-height:545px;
}

#accordion1 .ui-accordion-content { 
  padding: 0; 
  min-height:620px;
}

.ui-accordion-header, .ui-accordion-content   { 
	border-radius: 0px; 
	-moz-border-radius-bottomright: 0px !important; 
	-moz-border-radius-bottomleft: 0px !important; 
	-moz-border-radius-topright: 0px  !important;
	-moz-border-radius-topleft: 0px !important;
}

.w {
	width : 250px;
	border-radius : 0px !important;
	padding : 0px  !important;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75) !important;
}

.detaildiv {
  background-color : #D6EBFF !important;
  color : #385C81 !important; 
  padding : 3px  !important;
  height: 100px;
}

.headerdiv {
  background-color : #98CDFF !important;
  color : #385C81 !important;
  padding : 3px  !important;
}


.headerdiv1 {
  background-color : #9ED1C1 !important;
  color : #4F826F !important;
  padding : 3px  !important;
}


.detaildiv1 {
  background-color : #CEE8C0 !important;
  padding : 3px  !important;
  height: 100px;
  color : #4F826F !important;  
}

.headerdiv2 {
  background-color : #AF98FF !important;
  color : #DFD6FF !important;
  padding : 3px  !important;
}


.detaildiv2 {
  background-color : #DFD6FF !important;
  padding : 3px  !important;
  height: 100px;
  color : #AF98FF !important;  
}

.detailtable {
    border-spacing: 2px;
    border-collapse: separate;
}

.loader {
	width: 200px;
	height: 100px;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	  box-shadow: 10px 10px 5px #ccc;
  border: 1px solid #ccc;
	margin: auto;
}


