#canvas {
  padding: 20px;
  height: calc(100vh - 400px);
  background-image: url('/images/grid.gif');
  border: 1px solid #ccc;
  overflow: auto;
}

#canvas1 {
  padding: 20px;
  height: calc(100vh - 400px);
  background-image: url('/images/grid.gif');
  border: 1px solid #ccc;
  overflow: auto;
}
