#canvas, #governCanvas, #governNewCanvas {
  padding: 20px;
  height: calc(100vh - 100px);
  background-image: url('/images/grid.gif');
  border: 1px solid #ccc;
  overflow: auto;
  width: 100%;
}

